<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Delete Task Record</title>
  </head>
  <body>
    <div class="pageGrid">
      <div id="logo"><h1 id="mainTitle">Organise Me</h1></div>

      <div class="deleteContainer">
        <div class="innerDelete">
        <h1>Delete Task</h1>

        <form method="post" action="/delete_task" class="formDelete">
          <label for="taskID">Enter Task ID to Delete</label><br />
          <input type="number" id="taskID" name="taskID" required /><br /><br />
          <input type="submit" value="Delete Record" />
        </form>
        {% if error_message %}
        <p class="error">{{ error_message }}</p>
        {% endif %}</div>
        <div class="navLinks">
        <a href="/"><button>Return to Main Menu</button></a>
        <a href="/get_tasks"><button>View all Tasks</button></a></div>
      </div>
      <footer>&copy; 2023 Gabriella Masiha</footer>
    </div>
  </body>
</html>
