<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ css_url }}">
    <title>Organise Me</title>
</head>
<body>
    <div id="container">
    <div id="logo"><h1 id="mainTitle">Task Flix</h1></div>
    

    <form id="form" method="post" action="/menu">
        <h2 id="menuTitle">Main Menu</h2><br>
        <input type="radio" name="option" value="list" id="list">
        <label for="list">List all Tasks</label><br>

        <input type="radio" name="option" value="add" id="add">
        <label for="add">Add a task</label><br>

        <input type="radio" name="option" value="amend" id="amend">
        <label for="amend">Amend a task</label><br>

        <input type="radio" name="option" value="delete" id="delete">
        <label for="delete">Delete a task</label><br>

        <input type="radio" name="option" value="search" id="search">
        <label for="search">Search</label><br>
        <br>
        <input id="btn" type="submit" value="Enter">
    </form>
    <div id="search-results">
        {% if search_result %}
            <h2>Search Results:</h2>
            <ul>
                {% for Task in search_result %}
                    <li>{{ Task }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
    </div></div>
</body>
</html>
</body>
</html>