<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ css_url }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Organise Me</title>
</head>
<body>
  
        
    <div id="logo"><h1 id="mainTitle">Organise Me</h1></div>
    
      <div id="container">
    <h2 id="menuTitle">Main Menu</h2>

    <a href="/menu?option=list">List all Tasks</a><br>
    <a href="/menu?option=add">Add a task</a><br>
    <a href="/menu?option=amend">Amend a task</a><br>
    <a href="/menu?option=delete">Delete a task</a><br>
    <a href="/menu?option=search">Search</a><br>
    
    <div id="search-results">
        {% if search_result %}
            <h2>Search Results:</h2>
            <ul>
                {% for Task in search_result %}
                    <li>{{ Task }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
    </div></div>
</body>
</html>
</body>
</html>